{
  "presets": [
    [
      "@lightscript",
      {
        "decoratorOpts": { "decoratorsBeforeExport": false },
        "env": {
          "targets": {
            "ie": 10
          }
        }
      }
    ]
  ]
}
